<div class="post" id="<%= post.id %>">
  <div class="post-header">
    <%= post.created_at.strftime('%D(%a)%T') %>
    No.<%= link_to post.id, post, class: "post-id" %>
    <a href="#<%= post.id %>" class="post-anchor">#</a>
  </div>
  <blockquote class="post-content">
    <%= post.content %>
  </blockquote>
</div>
