<div id="<%= post.id %>" class="<%= mainClass %>">
  <div class="post-header">
    <% if post.respond_to?(:subject) %>
      <span class="post-subject">
        <%= post.subject.truncate 50, separator: /\s/ if post.subject %>
      </span>
    <% end %>
    <%= post.created_at.strftime "%D(%a)%T" %>
    <% if show %>
      No.<%= link_to post.id, post, class: "post-id" %>
    <% else %>
      No.<%= post.id %>
    <% end %>
    <a href="#<%= post.id %>" class="post-anchor">#</a>
  </div>
  <blockquote>
    <%= post.comment %>
  </blockquote>
</div>
