<%= render "posts/form", post: Post.new %>

<div class="nav">
  <input type="text" placeholder="Search OPs...">
</div>

<% @posts.order(created_at: :desc).each do |post| %>
  <div class="thread">
    <%= render "posts/post", post: post, main_class: "post", show: true %>
    <% if post.replies.size >= 5 %>
      <div class="expand-thread">
        <%= pluralize post.replies.size - 5, "reply" %> omitted.
        <%= link_to "Click here", thread_path(post) %> to view
      </div>
    <% end %>
    <% post.replies.last(5).each do |reply| %>
      <%= render "posts/reply", reply: reply %>
    <% end %>
  </div>
  <hr>
<% end %>
